/*ALL*/
.profileWhiteBoxContainer{
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.userInformationStatusMessage{
    font-family: Montserrat-Medium;
}
/*Mobile and Tablet Portrait*/
@media only screen and (max-width:767px) and (orientation: portrait){
   
}
/*Mobile and Tablet Landscape*/
@media only screen and (max-width:767px) and (orientation: landscape){

}

/*iphonX, ipad, ipad pro*/
@media only screen and (min-width: 768px) and (orientation: portrait){
    
}


/*DESKTOP*/
@media only screen and (min-width: 768px) and (orientation: landscape)  { 
    .profileWhiteBoxContainer{
        background-color: #ffffff; 
        width: 74vw;  
        box-sizing: border-box;    
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .profileWhiteBoxRow{
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;       
    }
    .profileWhiteBoxRow .MuiTextField-root{
        width: 100%;
    }
    .userInformationStatusMessage{
        font-size: 0.875rem;
    }
} 
