#registerBoxSignUpBtn{
    background-color: #D9183B;
    color: #FFFFFF;
}
#registerBoxSignInBtn{
    background-color: #FFFFFF;
    color: #D9183B;
}
/*Mobile and Tablet Portrait*/
@media only screen and (max-width:767px) and (orientation: portrait){

  
}
/*Mobile and Tablet Landscape*/
@media only screen and (max-width:767px) and (orientation: landscape){
  
}

/*iphonX, ipad, ipad pro*/
@media only screen and (min-width: 768px) and (orientation: portrait){


}

/*DESKTOP*/
@media only screen and (min-width: 768px) and (orientation: landscape) {  

    .registerBox{
        position: relative;
        width: 30vw;
        height: 30vw;        
        left:32vw;
        top:10vh;
        border-radius: 5px;
        background-color: rgba(255,255,255,0.5);
    }

    .registerBoxLog{
        width: 100%;
        height: 60%;
        background-size:     contain;                      
        background-repeat:   no-repeat;
        background-position: center center; 
        background-image: url('../../../../src/resource/image/logo.png');
        position: relative;        
        top: 5%;
        left:15px;
        
    }
    .registerBoxSoftwareName{
        font-family: Ubuntu-B;
        font-size: 28px;
        width: 100%;
        position: relative;
        height: 7.5%;
        top: 8%;
        text-align: center;
    }
    .registerBoxSolgan{
        font-family: Ubuntu-R;        
        font-size: 16px;
        width: 100%;
        position: relative;
        height:7.5%;
        top:8%;
        text-align: center;
    }
    .registerBoxBtnBox{
        width: 100%;
        position: relative;
        height: 15%;        
        top:10%;
        display: flex;
        flex-direction: row;
    }
    .registerBoxBtn{
        font-family: Ubuntu-R;
        height: 80%;
        width: 42%;      
        cursor: pointer;       
        border-radius: 5px;
        box-shadow: 0 3px 6px #00000029;
        text-align: center;
        box-sizing: border-box;
        padding-top: 15px;
    }
    #registerBoxSignUpBtn{
        margin-left: 5%;
    }
    #registerBoxSignInBtn{
       margin-left: 7%;
    }
    
}