#registerBoxSignUpBtn{
    background-color: #D9183B;
    color: #FFFFFF;
}
#registerBoxSignInBtn{
    background-color: #FFFFFF;
    color: #D9183B;
}
/*Mobile and Tablet Portrait*/
@media only screen and (max-width:767px) and (orientation: portrait){

    .registerBox{
        position: relative;
        width: 80vw;
        height: 75vh;        
        left:9vw;
        top:1vh;
        border-radius: 5px;       
    }

    .registerBoxLog{
        width: 68%;
        height: 43%;
        background-size:     contain;                      
        background-repeat:   no-repeat;
        background-position: center center; 
        background-image: url('../../../../src/resource/image/logo.png');
        position: relative;       
        left:16vw;        
    }
    .registerBoxSoftwareName{
        font-family: Ubuntu-B;
        font-size: 28px;
        width: 100%;
        position: relative;     
        text-align: center;
    }
    .registerBoxSolgan{
        font-family: Ubuntu-R;        
        font-size: 16px;
        width: 100%;
        position: relative;       
        text-align: center;
        color: #707070;
    }

    .registerBoxBtnBox{
        width: 100%;
        position: relative;
        height: 15%;        
        top:10%;
        display: flex;
        flex-direction: column;
    }
    .registerBoxBtn{
        font-family: Ubuntu-R;
        height: 50%;
        width: 100%;      
        cursor: pointer;       
        border-radius: 5px;
        box-shadow: 0 3px 6px #00000029;
        text-align: center;
        box-sizing: border-box;
        padding-top: 5px;
    }
    #registerBoxSignUpBtn{
        margin-top: 2%;
    }
    #registerBoxSignInBtn{
       margin-top: 2%;
    }
  
}
/*Mobile and Tablet Landscape*/
@media only screen and (max-width:767px) and (orientation: landscape){
  
    
    .registerBox{
        position: relative;
        width: 35vw;
        height: 35vw;        
        left:32vw;
        top:10vh;
        border-radius: 5px;
        background-color: rgba(255,255,255,0.5);
    }

    .registerBoxLog{
        width: 100%;
        height: 60%;
        background-size:     contain;                      
        background-repeat:   no-repeat;
        background-position: center center; 
        background-image: url('../../../../src/resource/image/logo.png');
        float: left;        
        margin-top: 3%;
        margin-left:12px;        
    }
    .registerBoxSoftwareName{
        font-family: Ubuntu-B;       
        font-size: 24px;
        width: 100%;
        height:13%;
        float:left;      
        text-align: center;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .registerBoxSolgan{
        font-family: Ubuntu-R;        
        font-size: 16px;
        width: 100%;       
        height:10%;
        float: left;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .registerBoxBtnBox{
        width: 100%;
        float: left;
        height: 15%;      
        display: flex;
        flex-direction: row;
    }
    .registerBoxBtn{
        font-family: Ubuntu-R;
        height: 80%;
        width: 42%;      
        cursor: pointer;       
        border-radius: 5px;
        box-shadow: 0 3px 6px #00000029;
        text-align: center;
        box-sizing: border-box;
        padding-top: 2%;
    }
    #registerBoxSignUpBtn{
        margin-left: 5%;
    }
    #registerBoxSignInBtn{
       margin-left: 7%;
    }
}

/*iphonX, ipad, ipad pro*/
@media only screen and (min-width: 768px) and (orientation: portrait){

    .registerBox{
        position: relative;
        width: 60vw;
        height: 60vw;        
        left:20vw;
        top:10vh;
        border-radius: 5px;
        background-color: rgba(255,255,255,0.5);
    }

    .registerBoxLog{
        width: 100%;
        height: 60%;
        background-size:     contain;                      
        background-repeat:   no-repeat;
        background-position: center center; 
        background-image: url('../../../../src/resource/image/logo.png');
        float: left;        
        margin-top: 3%;
        margin-left:15px;        
    }
    .registerBoxSoftwareName{
        font-family: Ubuntu-B;       
        font-size: 45px;
        width: 100%;
        height:13%;
        float:left;      
        text-align: center;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .registerBoxSolgan{
        font-family: Ubuntu-R;        
        font-size: 30px;
        width: 100%;       
        height:10%;
        float: left;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .registerBoxBtnBox{
        width: 100%;
        float: left;
        height: 15%;      
        display: flex;
        flex-direction: row;
    }
    .registerBoxBtn{
        font-family: Ubuntu-R;
        height: 80%;
        width: 42%;      
        cursor: pointer;       
        border-radius: 5px;
        box-shadow: 0 3px 6px #00000029;
        text-align: center;
        box-sizing: border-box;
        padding-top: 4%;
        font-size: 25px;
    }
    #registerBoxSignUpBtn{
        margin-left: 5%;
    }
    #registerBoxSignInBtn{
       margin-left: 7%;
    }

}

/*DESKTOP*/
@media only screen and (min-width: 768px) and (orientation: landscape) {  

    .registerBox{
        position: relative;
        width: 30vw;
        height: 30vw;        
        left:32vw;
        top:10vh;
        border-radius: 5px;
        background-color: rgba(255,255,255,0.5);
    }

    .registerBoxLog{
        width: 100%;
        height: 60%;
        background-size:     contain;                      
        background-repeat:   no-repeat;
        background-position: center center; 
        background-image: url('../../../../src/resource/image/logo.png');
        float: left;        
        margin-top: 3%;
        margin-left:15px;        
    }
    .registerBoxSoftwareName{
        font-family: Ubuntu-B;       
        font-size: 28px;
        width: 100%;
        height:13%;
        float:left;      
        text-align: center;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .registerBoxSolgan{
        font-family: Ubuntu-R;        
        font-size: 16px;
        width: 100%;       
        height:10%;
        float: left;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .registerBoxBtnBox{
        width: 100%;
        float: left;
        height: 15%;      
        display: flex;
        flex-direction: row;
    }
    .registerBoxBtn{
        font-family: Ubuntu-R;
        height: 80%;
        width: 42%;      
        cursor: pointer;       
        border-radius: 5px;
        box-shadow: 0 3px 6px #00000029;
        text-align: center;
        box-sizing: border-box;
        padding-top: 3%;
    }
    #registerBoxSignUpBtn{
        margin-left: 5%;
    }
    #registerBoxSignInBtn{
       margin-left: 7%;
    }
    
}