.generalGridContainer{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.headerContainer{
    display: flex;
    flex-direction: row;
}
.rowsContainer{
    display: flex;
    flex-direction: column;
}
.gridRow{
    display: flex;
    flex-direction: row;
}
/*DESKTOP*/
@media only screen and (min-width: 768px) and (orientation: landscape) {  
   

}