.gridActionBtn{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;    
    border-radius: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
}
.gridActionBtnIcon{
    width: 25%;
}
.gridActionBtnIcon > i{
    color: black;
}
.gridActionBtnTxt{
    font-family: Montserrat-Medium;
    color: #707070;    
    font-weight: normal;
    width: 75%;
    text-align: center;
}
.actionCell{
    display: flex;
    flex-direction: row;
}


/*Mobile and Tablet Portrait*/
@media only screen and (max-width:767px) and (orientation: portrait){
    .gridActionBtn{
        width: 3rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        margin-left: 0.5rem;
    }
    .gridActionBtnTxt{      
        width: 100%;
        text-align: center;
    }
    .gridActionBtnIcon{
        display: none;
    }
}
/*Mobile and Tablet Landscape*/
@media only screen and (max-width:767px) and (orientation: landscape){
    .gridActionBtn{
        width: 4rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        margin-left: 0.5rem;
    }
    .gridActionBtnTxt{      
        width: 100%;
        text-align: center;
    }
    .gridActionBtnIcon{
        display: none;
    }
}

/*iphonX, ipad, ipad pro*/
@media only screen and (min-width: 768px) and (orientation: portrait){   
}

/*DESKTOP*/
@media only screen and (min-width: 768px) and (orientation: landscape) {  
    .gridActionBtn{
        width: 7rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-left: 1rem;
    }
}