.menuRowBtnTitle{
    width: fit-content;
    font-family: Montserrat-SemiBold;
    float: left;   
    cursor: pointer;
}
.menuRowBtnIcon{
    width: fit-content;
    float: left;  
}
/*Mobile and Tablet Portrait*/
@media only screen and (max-width:767px) and (orientation: portrait){
    .menuRowBtn{
        height:7.14%;
        width: 100%;
    }   
    .menuRowBtnTitle{
        margin-top: 3%;
    }
    .menuRowBtnIcon{
        margin-top: 2%;
    }
}
/*Mobile and Tablet Landscape*/
@media only screen and (max-width:767px) and (orientation: landscape){
}
@media only screen and (max-width:767){
}
@media only screen and (min-width: 768px) {  
}