/*ALL DEVICES*/
.forgotPasswordContainer >a{
    font-family: Montserrat-Medium;
    color: #D9183B;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    cursor: pointer;
}
/*Mobile and Tablet Portrait*/
@media only screen and (max-width:767px) and (orientation: portrait){

}
/*Mobile and Tablet Landscape*/
@media only screen and (max-width:767px) and (orientation: landscape){


}

/*iphonX, ipad, ipad pro*/
@media only screen and (min-width: 768px) and (orientation: portrait){

}


/*DESKTOP*/
@media only screen and (min-width: 768px) and (orientation: landscape)  {   

    .forgotPasswordContainer{
        float: left;
        width: fit-content;
        height: fit-content;
        margin-top: 2.5%;
    }

} 
