

/*ALL DEVICES*/
.signupLinkContainer >a{
    color:#D9183B;
    font-family: Montserrat-Medium;
    cursor: pointer;
}
.sigupLinkMessage{
    color: #707070;
    font-family: Montserrat-Regular;
    padding-right: 1%;
}
/*Mobile and Tablet Portrait*/
@media only screen and (max-width:767px) and (orientation: portrait){
    .signupLinkContainer{
        float: left;
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-left: 5%;
        margin-top: 2%;        
    }   
}
/*Mobile and Tablet Landscape*/
@media only screen and (max-width:767px) and (orientation: landscape){


}

/*iphonX, ipad, ipad pro*/
@media only screen and (min-width: 768px) and (orientation: portrait){

    .signupLinkContainer{
        float: left;
        width: 90%;
        height: fit-content;
        margin-left: 5%;
        margin-bottom: 5%;
        box-sizing: border-box;
        padding-left: 10%;
        margin-top: 5%;
    }
    .sigupLinkMessage{
        float:left;
    }
}


/*DESKTOP*/
@media only screen and (min-width: 768px) and (orientation: landscape)  {   

    .signupLinkContainer{
        float: left;
        width: 90%;
        height: fit-content;
        margin-left: 5%;
        margin-bottom: 5%;
        box-sizing: border-box;
        padding-left: 10%;
        margin-top: 5%;
    }
    .sigupLinkMessage{
        float:left;
    }

} 
