/*ALL DEVICES*/

/*Mobile and Tablet Portrait*/
@media only screen and (max-width:767px) and (orientation: portrait){

    .signInWhiteBoxContainer{
        width: 100%;
        height: 100%;
        float: left;       
    }

    .signInWhiteBoxContainer{
        background-color: rgba(255,255,255,1);
    }
}
/*Mobile and Tablet Landscape*/
@media only screen and (max-width:767px) and (orientation: landscape){


}

/*iphonX, ipad, ipad pro*/
@media only screen and (min-width: 768px) and (orientation: portrait){

}


/*DESKTOP*/
@media only screen and (min-width: 768px) and (orientation: landscape)  {   

    .signInWhiteBoxContainer{
        background-color: rgba(255,255,255,0.8);
    }

    .signInWhiteBoxContainer{
        float: left;       
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 6px 12px #70707029;     
    }

    /*Material UI text field control*/
    .MuiTextField-root{

        width: 90%;
        float: left;
        margin-top: 10px !important;
        margin-left: 5% !important;
    }
    .signInOptions{
        float: left;
        width: 90%;
        margin-left: 5%;
    }
} 
