
/*ALL DEVICES*/

/*Mobile and Tablet Portrait*/
@media only screen and (max-width:767px) and (orientation: portrait){
    .signupViewContainer{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;   
        display:flex;
        flex-direction: column;   
    }
    /*I HAVE TO HIDE THE WALL PAPER FOR SOME REASONS!*/
    /*BAD PRACTICE!!! HAVE NO OTHER CHOICE*/
    #mainWallpaper{
        visibility: hidden;
    }
}