.signupWhiteBoxRow{
    width: 100%;
}
.signupWhiteBoxRow .MuiTextField-root{
    width: 100%;
}
.signUpWhitBoxContainer{
    position: relative;
    display : flex;
    flex-direction: column;       
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.8);
}
.signUpAgreeContiner{
    display:flex;
    flex-direction: row;
}
.signinRedDashedLinkContainer{
    display: flex;
    flex-direction: row;
}
/*Mobile and Tablet Portrait*/
@media only screen and (max-width:767px) and (orientation: portrait){
    .signUpWhitBoxContainer{
        width: 100%;
        height: 70%;       
        top: 20%;         
        padding-bottom: 2%;
    }
    .signupAgreeText{
        margin-top: 3%;
    }
}

/*Mobile and Tablet Landscape*/
@media only screen and (max-width:767px) and (orientation: landscape){

    .signUpWhitBoxContainer{        
        width: 100%;
        border-radius: 5px;      
        box-shadow: 0px 6px 12px #70707029;     
        padding-bottom: 2%;   
    }
    .signupAgreeText{
        margin-top: 4%;
        font-size: 10pt;        
    }
}

/*iphonX, ipad, ipad pro*/
@media only screen and (min-width: 768px) and (orientation: portrait){

    .signUpWhitBoxContainer{        
        width: 100%;
        border-radius: 5px;        
        box-shadow: 0px 6px 12px #70707029;      
        padding: 2%;  
    }

    .signupAgreeText{
        margin-top: 4%;
        font-size: 10pt;        
    }
}

/*DESKTOP*/
@media only screen and (min-width: 768px) and (orientation: landscape)  {  
    .signUpWhitBoxContainer{    
        width: 60vw;    
        border-radius: 5px;       
        box-shadow: 0px 6px 12px #70707029;    
       padding: 2rem;
    }
    .signupWhiteBoxRow{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .signupAgreeText{        
        font-size: 0.75rem; 
        margin-top: 0.75rem;       
    }

    .provinceComponentContainer{
        width:100%;    
            
    }
    .provinceComponentContainer .MuiOutlinedInput-root{
        width:100%;
    }
    .genderComponentContainer{
        width:100%
    }
    .genderComponentContainer .MuiOutlinedInput-root{
        width:100%;
    }
}