/*ALL DEVICES*/

/*Mobile and Tablet Portrait*/
@media only screen and (max-width:767px) and (orientation: portrait){
    .signupWhiteBoxContainer{
        width: 100%;
        height: 70%;
        float: left;
        position: relative;       
        top: 20%;
        background-color: rgba(255,255,255,1);
    }   
}