/*ALL DEVICES*/
.signupRow{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;
    float: left;
}
/*Mobile and Tablet Portrait*/
@media only screen and (max-width:767px) and (orientation: portrait){
    .signUpWhitBoxContainer{
        width: 100%;
        height: 70%;
        float: left;
        position: relative;       
        top: 20%;
        background-color: rgba(255,255,255,1);
    }   
    .signUpWhitBoxContainer .MuiTextField-root{

        margin-top: 4%;
        width: 90%;
        margin-left: 5%;
    } 
    .signUpWhitBoxContainer .MuiFormHelperText-root{
        width: 90%;
        margin-left: 5%;
    }
    .signUpSelectControl .MuiOutlinedInput-root{
        width: 90%;
        margin-left: 5%;
        margin-top: 4%;
    }
    .signupAgreeText{
        margin-top: 3%;
    }
}

/*Mobile and Tablet Landscape*/
@media only screen and (max-width:767px) and (orientation: landscape){

    .signUpWhitBoxContainer{
        float: left; 
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 6px 12px #70707029; 
        background-color: rgba(255,255,255,0.8);        
    }

    /*Material UI text field control*/
    .signUpWhitBoxContainer .MuiTextField-root{

        width: 90%;
        float: left;
        margin-top: 10px !important;
        margin-left: 5% !important;
    }  
    .signUpWhitBoxContainer .MuiFormHelperText-root{
        width: 90%;
        margin-left: 5%;
    }
    .signUpSelectControl .MuiOutlinedInput-root{
        width: 90%;
        margin-left: 5%;
        margin-top: 4%;
    }
    .signupAgreeText{
        margin-top: 4%;
        font-size: 10pt;        
    }
}