/*Mobile and Tablet Portrait*/
@media only screen and (max-width:767px) and (orientation: portrait){
    #menuBtn{

        width: 7vw;
        height: 7vw;
        left: 4vw;
        top: 3vw;           
    } 
}
/*Mobile and Tablet Landscape*/
@media only screen and (max-width:767px) and (orientation: landscape){
}

/*iphonX, ipad, ipad pro*/
@media only screen and (min-width: 768px) and (orientation: portrait){

    #menuBtn{

        width: 7vw;
        height: 7vw;
        left: 4vw;
        top: 3vw;           
    } 
}

/*DESKTOP*/
@media only screen and (min-width: 768px) and (orientation: landscape) {  
    #menuBtn{

        width: 2vw;
        height: 2vw;
        left: 1vw;
        top: 1vw;             
    } 
}