body,html {
  margin:0;
  padding: 0;
  width: 100%;
  height: 100%;  
}
h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;  
}
a{  
  color: inherit;
  all:unset;
}
@font-face {
  font-family: Montserrat-Black;
  src: url(./resource/font/Montserrat-Black.ttf);
}
@font-face {
  font-family: Montserrat-BlackItalic;
  src: url(./resource/font/Montserrat-BlackItalic.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(./resource/font/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-BoldItalic;
  src: url(./resource/font/Montserrat-BoldItalic.ttf);
}


@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(./resource/font/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: Montserrat-ExtraBoldItalic;
  src: url(./resource/font/Montserrat-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url(./resource/font/Montserrat-ExtraLight.ttf);
}


@font-face {
  font-family: Montserrat-ExtraLightItalic;
  src: url(./resource/font/Montserrat-ExtraLightItalic.ttf);
}

@font-face {
  font-family: Montserrat-Italic;
  src: url(./resource/font/Montserrat-Italic.ttf);
}

@font-face {
  font-family: Montserrat-Light;
  src: url(./resource/font/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat-LightItalic;
  src: url(./resource/font/Montserrat-LightItalic.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(./resource/font/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-MediumItalic;
  src: url(./resource/font/Montserrat-MediumItalic.ttf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(./resource/font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(./resource/font/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Montserrat-SemiBoldItalic;
  src: url(./resource/font/Montserrat-SemiBoldItalic.ttf);
}

@font-face {
  font-family: Montserrat-Thin;
  src: url(./resource/font/Montserrat-Thin.ttf);
}

@font-face {
  font-family: Montserrat-ThinItalic;
  src: url(./resource/font/Montserrat-ThinItalic.ttf);
}

@font-face {
  font-family: Ubuntu-B;
  src: url(./resource/font/Ubuntu-B.ttf);
}

@font-face {
  font-family: Ubuntu-BI;
  src: url(./resource/font/Ubuntu-BI.ttf);
}

@font-face {
  font-family: Ubuntu-C;
  src: url(./resource/font/Ubuntu-C.ttf);
}

@font-face {
  font-family: Ubuntu-L;
  src: url(./resource/font/Ubuntu-L.ttf);
}

@font-face {
  font-family: Ubuntu-LI;
  src: url(./resource/font/Ubuntu-LI.ttf);
}

@font-face {
  font-family: Ubuntu-M;
  src: url(./resource/font/Ubuntu-M.ttf);
}

@font-face {
  font-family: Ubuntu-MI;
  src: url(./resource/font/Ubuntu-MI.ttf);
}

@font-face {
  font-family: Ubuntu-R;
  src: url(./resource/font/Ubuntu-R.ttf);
}

@font-face {
  font-family: Ubuntu-RI;
  src: url(./resource/font/Ubuntu-RI.ttf);
}

@font-face {
  font-family: Ubuntu-Th;
  src: url(./resource/font/Ubuntu-Th.ttf);
}

@font-face {
  font-family: UbuntuMono-B;
  src: url(./resource/font/UbuntuMono-B.ttf);
}

@font-face {
  font-family: UbuntuMono-BI;
  src: url(./resource/font/UbuntuMono-BI.ttf);
}

@font-face {
  font-family: UbuntuMono-R;
  src: url(./resource/font/UbuntuMono-R.ttf);
}

@font-face {
  font-family: UbuntuMono-RI;
  src: url(./resource/font/UbuntuMono-RI.ttf);
}
.fullSize{
  width:100%;
  height: 100%;  
}
.fullSize-width{
  width:100%
}
.absolute{
  position: absolute;
}
.fitContent{
  width: fit-content;
}
.pointer{
  cursor: pointer;
}
.flex-container{
  display:flex;
}
.flex-column{
  flex-direction: column;
}
/*------ID---------*/
#root{
  margin:0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}
#mainContainer{
  left:0;
  top: 0;
  z-index: 0;
}